<%= render 'layouts/flash' %>

<div class="row">
  <h1 class="display-4"><strong>雪国で生活するすべての人へ</strong></h1>
</div>


<h1>ログイン</h1>

<div class="row">
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <%= render 'layouts/error_messages', obj: @user %>
    <div class="col-7 mb-3">
      <label for="email" class="form-label">メールアドレス</label>
      <%= f.email_field :email, placeholder: "name@example.com", class: "form-control", id: "email" %>
    </div>
    <div class="col-7 mb-3">
      <label for="password" class="form-label">パスワード</label>
      <%= f.password_field :password, class: "form-control", id: "password" %>
    </div>

    <div class="col-7 mb-3">
      <%= f.submit "ログイン", class: "btn btn-success px-4 btn-sm" %>
    </div>
  <% end %>

  <div class="col-7 mb-3">
    <%= link_to 'ゲストログイン（閲覧用）', user_guest_sign_in_path, class: "btn btn-secondary px-4 btn-sm", method: :post %>
  </div>

  <%= render "user/shared/links" %>
</div>