<h1>新規会員登録</h1>

<div class="row">
  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <% if @user.errors.any? %>
      <%= @user.errors.count %>件のエラーが発生しました
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="col-7 mb-3">
      <label for="name" class="form-label">氏名</label>
      <%= f.text_field :name, placeholder: "佐藤　太郎", class: "form-control", id: "name" %>
    </div>
    <div class="col-7 mb-3">
      <label for="nickname" class="form-label">投稿に表示するニックネーム(2～20文字)</label>
      <%= f.text_field :nickname, placeholder: "ニックネーム", class: "form-control", id: "nickname" %>
    </div>
    <div class="col-7 mb-3">
      <label for="prefecture" class="form-label">登録する都道府県名</label>
      <%= f.select :prefecture, User.prefecture_methods.keys, {}, class: "form-select", id: "prefecture" %>
    </div>
    <div class="col-7 mb-3">
      <label for="email" class="form-label">メールアドレス</label>
      <%= f.email_field :email, placeholder: "name@example.com", class: "form-control", id: "email" %>
    </div>
    <div class="col-7 mb-3">
      <label for="password" class="form-label">パスワード(<%= @minimum_password_length %>文字以上)</label>
      <%= f.password_field :password, class: "form-control", id: "password" %>
    </div>
    <div class="col-7 mb-3">
      <label for="password_confirmation" class="form-label">パスワード(確認用)</label>
      <%= f.password_field :password_confirmation, class: "form-control", id: "password_confirmation" %>
    </div>
    <div class="col-7 mb-3">
      <%= f.submit "新規登録", class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= render "user/shared/links" %>
</div>
