<h1>マイページ</h1>

<div class="row row-cols-1 g-4">
  <div class="col">
    <div class="card h-100 border-secondary">
      <div class="card-body">
        <h5 class="card-title mb-3">
          <% if @user.profile_image.exist? %>
            <%= image_tag @user.profile_image, size:'10x10' %>
          <% else %>
            <i class="fa-solid fa-snowman fa-2xl"></i>
          <% end %>
          <%= @user.nickname %>
          <%= @user.prefecture %>
        </h5>
        <%= link_to edit_information_path, class: "btn btn-info" do %>
          <i class="fa-solid fa-user-pen"></i> ユーザー情報編集
        <% end %>
        <%= link_to show_user_path(@user.id), class: "btn btn-secondary" do %>
          <i class="fa-solid fa-list"></i> 投稿履歴
        <% end %>
        <%= link_to posts_favorites_path, class: "btn btn-secondary" do %>
          <i class="fa-solid fa-bookmark"></i> しおり一覧
        <% end %>
        <%= link_to followings_path(@user.id), class: "btn btn-secondary" do %>
          <i class="fa-solid fa-star"></i> フォロー一覧
        <% end %>
        <%= link_to destroy_information_path, method: :delete, class: "btn btn-danger" do %>
          <i class="fa-solid fa-user-slash"></i> アカウント削除
        <% end %>
      </div>
    </div>
  </div>
</div>