<h1>ユーザー投稿履歴一覧</h1>

<div class="row row-cols-1 g-4 mb-3">
  <div class="col">
    <div class="card h-100 border-secondary">
      <div class="card-body">
        <h5 class="card-title mb-3">
          <% if @user.profile_image.exist? %>
            <%= image_tag @user.profile_image, size:'10x10' %>
          <% else %>
            <i class="fa-solid fa-snowman fa-2xl"></i>
          <% end %>
          <%= @user.nickname %>
          <%= @user.prefecture %>
        </h5>
        <% if admin_signed_in? && @user.id != 1 %>
          <%= link_to admin_user_path(@user.id), method: :delete, class: "btn btn-danger" do %>
            <i class="fa-solid fa-trash"></i> ユーザーを削除する
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-lg-4 g-4">
  <% @posts.each do |post| %>
    <div class="col">
      <div class="card h-100 border-secondary">
        <div class="card-body">
          <h5 class="card-title"><%= post.city %></h5>
          <p class="card-text">
            近くの建物：<%= post.landmark %><br>
            歩道のようす：<%= post.sidewalk %><br>
            積雪の高さ：<%= post.snow_height %><br>
            雪のようす：<%= post.snow_state %><br>
            メッセージ：<%= post.message %>
          </p>
          <%= link_to admin_post_path(post.id), class: "btn btn-secondary" do %>
            <i class="fa-solid fa-eye"></i> 詳しく見る
          <% end %>
        </div>
        <div class="card-footer bg-transparent border-secondary">
          <small class="text-muted"><i class="fa-solid fa-calendar-days"></i> 投稿日時：<%= post.created_at %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>