<div class="row row-cols-1 row-cols-lg-4 g-4">
  <% posts.each do |post| %>
    <div class="col">
      <div class="card h-100 border-info">
        <div class="card-header bg-transparent border-info">
          <% if post.user.profile_image.present? %>
            <%= image_tag post.user.get_profile_image, size:'50x50', class: "rounded-circle" %>
          <% else %>
            <%= image_tag 'snowman.png', size:'50x50' %>
          <% end %>
          <% if admin_signed_in? && post.user.id != 1 %>
            <%= link_to post.user.nickname, admin_user_path(post.user.id), class: "text-decoration-none text-secondary h6" %>
          <% elsif user_signed_in? %>
            <%= link_to post.user.nickname, show_user_path(post.user.id), class: "text-decoration-none text-secondary h6" %>
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= User.prefecture_methods.keys[post.prefecture] %> <%= post.city %></h5>
          <p class="card-text">
            <% if post.landmark.present? %>
              近くの建物：<%= post.landmark %><br>
            <% end %>
            歩道のようす：<%= Post.sidewalk_methods.keys[post.sidewalk] %><br>
            積雪の高さ：<%= Post.snow_height_methods.keys[post.snow_height] %><br>
            雪のようす：<%= Post.snow_state_methods.keys[post.snow_state] %><br>
          </p>
          <div class="col-auto me-auto">
            <div class="btn text-secondary">
              <i class="fa-solid fa-comment"></i> <%= post.comments.count %>
            </div>
            <% if admin_signed_in? %>
              <%= link_to "詳しく見る", admin_post_path(post.id),'data-turbolinks': false, class: "btn btn-secondary px-4 btn-sm" %>
            <% else %>
              <% if current_user.id != 1 %>
                <div id="favorite-<%= post.id %>" class="btn">
                  <%= render 'user/favorites/btn', post: post %>
                </div>
              <% end %>
              <%= link_to "詳しく見る", post_path(post.id),'data-turbolinks': false, class: "btn btn-outline-secondary px-4 btn-sm" %>
            <% end %>
          </div>
        </div>
        <div class="card-footer bg-transparent border-info">
          <small class="text-muted"><i class="fa-solid fa-calendar-days"></i> 投稿日時：<%= l post.created_at %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>