<div class="row">
    <div class="col">
      <div class="card border-secondary">
        <div class="card-header bg-transparent border-secondary">
          <%= link_to show_user_path(post.user.id), class: "text-decoration-none" do %>
            <% if post.user.profile_image.present? %>
              <%= image_tag post.user.profile_image, size:'50x50', class: "rounded-circle" %>
            <% else %>
              <i class="fa-solid fa-snowman fa-3x"></i>
            <% end %>
            <%= post.user.nickname %>
          <% end %>
        </div>
        <div class="card-body">
          <div class="row g-0">
            <div class="col-8">
              <h5 class="card-title"><%= User.prefecture_methods.keys[post.prefecture] %> <%= post.city %></h5>
              <p class="card-text">
                <% if post.landmark.present? %>
                  近くの建物：<%= post.landmark %><br>
                <% end %>
                歩道のようす：<%= Post.sidewalk_methods.keys[post.sidewalk] %><br>
                積雪の高さ：<%= Post.snow_height_methods.keys[post.snow_height] %><br>
                雪のようす：<%= Post.snow_state_methods.keys[post.snow_state] %><br>
                <% if post.message.present? %>
                  メッセージ：<%= post.message %>
                <% end %>
              </p>
              <div class="mb-3">
                <% if user_signed_in? %>
                  <% if current_user.id != 1 %>
                    <div id="favorite-<%= post.id %>" class="btn btn-secondary">
                      <%= render 'user/favorites/btn', post: post %>
                    </div>
                  <% end %>
                  <% if post.user == current_user %>
                    <%= link_to edit_post_path(post.id), class: "btn btn-secondary" do %>
                      <i class="fa-solid fa-pen-to-square"></i> 編集する
                    <% end %>
                    <%= link_to post_path(post.id), method: :delete, class: "btn btn-danger" do %>
                      <i class="fa-solid fa-trash"></i> 削除する
                    <% end %>
                  <% end %>
                <% elsif admin_signed_in? %>
                  <%= link_to admin_post_path(post.id), method: :delete, class: "btn btn-danger" do %>
                    <i class="fa-solid fa-trash"></i> 削除する
                  <% end %>
                <% end %>
              </div>
              <%= render 'user/comments/index', post: post %>
              <% if user_signed_in? %>
                <%= render 'user/comments/form', post: post, comment: comment %>
              <% end %>
            </div>
            <div class="col-4">
              <% if post.snow_image.present? %>
                <%= image_tag post.snow_image, class: "card-img" %>
              <% else %>
                <p class="text-secondary mt-5">写真はありません</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent border-secondary">
          <small class="text-muted">投稿日時：<%= post.created_at %></small>
        </div>
      </div>
    </div>
</div>