<%= form_with model: post, local: true do |f| %>
  <%= render 'layouts/error_messages', obj: post %>
  <div class="row">
    <div class="col-lg-3 mb-3">
      <label for="prefecture" class="form-label">投稿する都道府県名</label>
      <%= f.select :prefecture, User.prefecture_methods.map {|k| [k[0], k[1]]}, {}, class: "form-select", id: "prefecture" %>
    </div>
    <div class="col-lg-3 mb-3">
      <label for="city" class="form-label">投稿する市区町村名</label>
      <%= f.text_field :city, placeholder: "○○市○○区", class: "form-control", id: "city" %>
    </div>
    <div class="col-lg-3 mb-3">
      <label for="landmark" class="form-label">近くの目印になる建物</label>
      <%= f.text_field :landmark, placeholder: "スーパーやバス停など", class: "form-control", id: "landmark" %>
    </div>
    <div class="col-lg-3 mb-3">
      <label for="snow_image" class="form-label">積もり具合が分かる写真</label>
      <%= f.file_field :snow_image, class: "form-control", accept: 'image/*', id:"snow_image" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 mb-3">
      <label for="sidewalk" class="form-label">歩道のようす</label>
      <div class="form-check text-wrap", style="width: 18rem;">
        <%= f.collection_radio_buttons :sidewalk, Post.sidewalk_methods.to_a, :second, :first %>
      </div>
    </div>
    <div class="col-lg-3 mb-3">
      <label for="snow_height" class="form-label">積雪の高さ</label>
      <div class="form-check", style="width: 10rem;">
        <%= f.collection_radio_buttons :snow_height, Post.snow_height_methods.to_a, :second, :first %>
      </div>
    </div>
    <div class="col-lg-3 mb-3">
      <label for="snow_state" class="form-label">雪のようす</label>
      <div class="form-check", style="width: 10rem;">
        <%= f.collection_radio_buttons :snow_state, Post.snow_state_methods.to_a, :second, :first %>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">メッセージ(70字以内)</label>
    <%= f.text_area :message, placeholder: "メッセージやアドバイスなどご自由にどうぞ", class: "form-control", id: "message" %>
  </div>
  <div class="form-group">
   <%= f.label :address, '場所' %>
   <%= f.text_field :address, class: 'form-control' %>
  </div>
  <button type="submit" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i> 投稿する</button>
<% end %>