<div class="row row-cols-1 row-cols-lg-4 g-4">
  <% posts.each do |post| %>
    <div class="col">
      <div class="card h-100 border-secondary">
        <div class="card-header bg-transparent border-secondary">
          <% if post.user.profile_image.exist? %>
            <%= image_tag post.user.profile_image, size:'10x10' %>
          <% else %>
            <i class="fa-solid fa-snowman fa-2xl"></i>
          <% end %>
          <%= post.user.nickname %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= post.city %></h5>
          <p class="card-text">
            近くの建物：<%= post.landmark %><br>
            歩道のようす：<%= post.sidewalk %><br>
            積雪の高さ：<%= post.snow_height %><br>
            雪のようす：<%= post.snow_state %>
          </p>
          <% if admin_signed_in? %>
            <%= link_to admin_post_path(post.id), class: "btn btn-secondary" do %>
              <i class="fa-solid fa-eye"></i> 詳しく見る
            <% end %>
          <% else %>
            <%= link_to post_path(post.id), class: "btn btn-secondary" do %>
              <i class="fa-solid fa-eye"></i> 詳しく見る
            <% end %>
            <div id="favorite-<%= post.id %>">
              <%= render 'user/favorites/btn', post: post %>
            </div>
          <% end %>
        </div>
        <div class="card-footer bg-transparent border-secondary">
          <small class="text-muted"><i class="fa-solid fa-calendar-days"></i> 投稿日時：<%= post.created_at %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>