<div class="row row-cols-1 g-4">
  <% users.each do |user| %>
    <div class="col">
      <div class="card h-100 border-secondary">
        <div class="card-body">
          <h5 class="card-title">
            <% if user.profile_image.present? %>
              <%= image_tag user.profile_image, size:'50x50', class: "rounded-circle" %>
            <% else %>
              <i class="fa-solid fa-snowman fa-3x"></i>
            <% end %>
            <%= user.nickname %>
            <%= User.prefecture_methods.keys[user.prefecture] %>
            <% if user_signed_in? && current_user.id != 1 %>
              <%= render 'user/relationships/btn', user: user %>
            <% end %>
          </h5>
          <% if admin_signed_in? && user.id != 1 %>
            <%= link_to admin_user_path(user.id), class: "btn btn-secondary" do %>
              <i class="fa-solid fa-eye"></i> ユーザーの投稿を見る
            <% end %>
            <%= link_to admin_user_path(user.id), method: :delete, class: "btn btn-danger" do %>
              <i class="fa-solid fa-trash"></i> ユーザーを削除する
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>