<div class="row row-cols-1 g-4">
  <% users.each do |user| %>
    <div class="col">
      <div class="card h-100 border-secondary">
        <div class="card-body">
          <h5 class="card-title">
            <% if user.profile_image.present? %>
              <%= image_tag user.profile_image, size:'60x60', class: "rounded-circle" %>
            <% else %>
              <i class="fa-solid fa-snowman fa-3x"></i>
            <% end %>
            <%= user.nickname %>
            <%= User.prefecture_methods.keys[user.prefecture] %>
            <% if user_signed_in? && current_user.id != 1 %>
              <%= render 'user/relationships/btn', user: user %>
            <% end %>
            <% if admin_signed_in? && user.id != 1 %>
              <%= link_to admin_user_path(user.id), class: "btn btn-secondary" do %>
                <i class="fa-solid fa-eye"></i> 投稿を見る
              <% end %>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-user-slash"></i> アカウント削除
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">アカウント削除確認</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                    </div>
                    <div class="modal-body">
                      <p>
                        本当に削除してよろしいですか？<br>
                        アカウント情報は削除され、元に戻すことはできません。
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                      <%= link_to "削除", admin_user_path(user.id), method: :delete, class: "btn btn-danger" %>
                    </div><!-- /.modal-footer -->
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
            <% elsif user_signed_in? %>
              <%= link_to show_user_path(user.id), class: "btn btn-secondary" do %>
                <i class="fa-solid fa-eye"></i> 投稿を見る
              <% end %>
            <% end %>
          </h5>
        </div>
      </div>
    </div>
  <% end %>
</div>