<div class="row row-cols-1 g-4 mb-3">
  <div class="col">
    <div class="card h-100 border-secondary">
      <div class="card-body">
        <h5 class="card-title">
          <% if user.profile_image.present? %>
            <%= image_tag user.profile_image, size:'50x50', class: "rounded-circle" %>
          <% else %>
            <i class="fa-solid fa-snowman fa-3x"></i>
          <% end %>
          <%= user.nickname %>
          <%= User.prefecture_methods.keys[user.prefecture] %>
          <% if user_signed_in? && current_user.id != 1 %>
            <%= render 'user/relationships/btn', user: user %>
          <% end %>
        </h5>
        <% if admin_signed_in? && user.id != 1 %>
          <%= link_to admin_user_path(user.id), method: :delete, class: "btn btn-danger" do %>
            <i class="fa-solid fa-trash"></i> ユーザーを削除する
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-lg-4 g-4">
  <% posts.each do |post| %>
    <div class="col">
      <div class="card h-100 border-secondary">
        <div class="card-body">
          <h5 class="card-title"><%= User.prefecture_methods.keys[post.prefecture] %> <%= post.city %></h5>
          <p class="card-text">
            <% if post.landmark.present? %>
              近くの建物：<%= post.landmark %><br>
            <% end %>
            歩道のようす：<%= Post.sidewalk_methods.keys[post.sidewalk] %><br>
            積雪の高さ：<%= Post.snow_height_methods.keys[post.snow_height] %><br>
            雪のようす：<%= Post.snow_state_methods.keys[post.snow_state] %><br>
          </p>
          <div>
            <% if admin_signed_in? %>
              <%= link_to admin_post_path(post.id), class: "btn btn-secondary" do %>
                <i class="fa-solid fa-eye"></i> 詳しく見る
              <% end %>
            <% else %>
              <%= link_to post_path(post.id), class: "btn btn-secondary" do %>
                <i class="fa-solid fa-eye"></i> 詳しく見る
              <% end %>
              <% if current_user.id != 1 %>
                <div id="favorite-<%= post.id %>" class="btn btn-secondary">
                  <%= render 'user/favorites/btn', post: post %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="card-footer bg-transparent border-secondary">
          <small class="text-muted"><i class="fa-solid fa-calendar-days"></i> 投稿日時：<%= post.created_at %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>